.messagesContainer {  /* stylelint-ignore */
  display: flex;
  width: 100vw;
  height: 100%;
}

.messagePanel {
  flex: 3;
  border-right:1px solid #eee;
  overflow-y: scroll;
}

.messagePanel::-webkit-scrollbar, messagePanelContainer::-webkit-scrollbar { width: 0 !important }

.messengerPanel {
  flex: 10;
}

.messengerPanelContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.horizontalMessengerPanel {
  display: flex;
  flex: 4;
}

.columnMessengerPanel {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.profileBioPanel {
  flex: 2;
  border-left: 1px solid #eee;
  display: flex;
}

.messagesPanel {
  flex: 4;
  min-height: 450px;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chatBoxPanel {
  flex: 0.5;
  /*border-top: 1px solid #eee;*/
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
}

.matchBlock {
  display: flex;
  flex: 1;
  max-height: 100px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.conversationPlaceholderImage {
  max-height: 200px;
  align-self: center;
}