.mainDashboard {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.mainDashboardProfile {
  border-right: 1px solid #EEE;
  flex: 3;
  flex-direction: column;
  display: flex;
	max-width: 400px;
	overflow: hidden;
}

.mainDashboardSettings {
  flex: 6;
	flex-direction: column;
	display: flex;
}

.mainDashboardSettingsPictureRow {
	flex: 1;
	min-height: 200px;
	max-height: 200px;
	flex-direction: row;
	display: flex;
	max-width: 100%;
	position: relative;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
}

.mainDashboardSettingsPictureRow > div {
	width: 100%;
	flex-direction: row;
	display: flex;
}

.mainDashboardSettingsMain {
	flex: 3;
	display: flex;
	flex-direction: column;
}

.mainDashboardHeader {
  display: flex;
  flex: 1;
}

.mainDashboardContent {
  display: flex;
  border-top: 1px solid #EEE;
  flex-direction: column;
  box-shadow: 0px -7px 8px 0px rgba(157,157,157,0.03);
}

.mainDashboardProfilePicture {
	align-self: center;
	border-radius: 150px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #EEE;
	position: relative;
	top: -75px;
	box-shadow: 0px -7px 8px 0px rgba(157,157,157,0.03);
}

.mainDashboardContentContainer {
	/*margin: 100px 10px 10px 10px;*/
	display: flex;
	position: relative;
	top: -50px;
	align-items: center;
	flex-direction: column;
	margin: 0px 10px;
	flex: 8;
}

.profileNameContainer {
	flex: 1;
	width: 100%;
	justify-content: center;
	display: flex;
}

.mainDashboardContentContainerTeaser {
	display: flex;
	flex-direction: row;
	flex: 2;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 5px;
}

.mainDashboardContentContainerTeaser span {
	margin: 0px 10px;
}

.bioContainer {
	display: flex;
	flex: 8;
	width: 100%;
	flex-direction: column;
	border-top: 1px solid #EEE;
	overflow-x: hidden;
}

.bioInput {
	width: 100%;
	height: 80px;
	resize: none;
	padding: 10px;
	font-size: 12px;
}

.bioInputLabel {
	font-size: 12px;
	padding: 10px;
}

.bioInput:focus {
	outline: none;
}

.interestsContainer {
	width: 100%;
	white-space: nowrap;
	margin: 0px 10px;
	overflow: hidden;
	height: 60px;
}

.interestsContainerWrapper {
	flex-wrap: wrap;
	overflow-x: auto;
	width: 100%;
	padding: 5px;
	height: 100%;
}

.commonInterestsLink {
  padding: 10px 5px;
  text-decoration: none;
}

.mainDashboardSliders {
	flex: 1;
	margin: 25px 15px;
	display: flex;
	flex-direction: row;
}

.mainDashboardSlider {
	flex: 1;
	margin: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.styledSlider {
	width: 100%;
	max-height: 30px;
}

.sliderText {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 30px;
	justify-content: center;
}

.photoItem {
	flex: 1 !important;
	background-position: center;
	background-size: cover;
	height: 100%;
	max-height: 250px;
	border-right: 1px solid #EEE;
}

.mainDashboardToggles {
	composes: mainDashboardSliders;
	flex: 2;
}

.mainDashboardTogglesContainer {
	margin: 30px 15px 0px 15px;
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
}

.mainDashboardTogglesSection {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.mainDashboardDropdown {
	padding: 10px 32px 10px 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-weight: 300;
}

.mainDashboardScrollable {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.mainDashboardScrollableColumn:not(:first-of-type) {
	border-left: 1px solid #eee;
}

.mainDashboardScrollableColumn {
	flex: 1;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.mainDashboardScrollableColumnContainer {
	flex: 1;
	display: block;
	height: 100%;
	flex-direction: column;
	overflow-y: scroll;
}

.mainDashboardSwitchContainer {
	flex: 1;
	margin: 10px;
	flex-direction: column;
}

.mainDashboardSwitchBox {
	width: 100%;
	padding: 15px;
	margin: 5px 0;
	border: 1px solid #eee;
	display: flex;
	flex-direction: row;
}

.mainDashboardSwitchInput {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}