.mainDashboard {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.mainDashboardProfile {
  border-right: 1px solid #eee;
  flex: 3;
  flex-direction: column;
  display: flex;
}

.mainDashboardSettings {
  flex: 6;
}

.mainDashboardHeader {
  display: flex;
  flex: 1;
}

.mainDashboardContent {
  display: flex;
  border-top: 1px solid #eee;
  flex-direction: column;
  box-shadow: 0px -7px 8px 0px rgba(157,157,157,0.03);
}

.mainDashboardProfilePicture {
	align-self: center;
	border-radius: 150px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #eee;
	position: relative;
	top: -75px;
	box-shadow: 0px -7px 8px 0px rgba(157,157,157,0.03);
}

.mainDashboardContentContainer {
	/*margin: 100px 10px 10px 10px;*/
	display: flex;
	position: relative;
	top: -50px;
	align-items: center;
	flex-direction: column;
	margin: 0px 10px;
	flex: 8;
}

.mainDashboardContentContainerTeaser {
	display: flex;
	flex-direction: row;
}

.mainDashboardContentContainerTeaser span {
	margin: 0px 10px;
}