.dashboardMatchesContainer{
  display:flex;
  flex-basis: 100%;
  flex-direction: row;
  max-width: 100%;
}

.dashboardMatchesCards {
  display: flex;
  flex: 10;
  flex-direction: column;
}


.dashboardMatchesDetails {
  border-left:1px solid #eee;
  display: flex;
  flex-direction: column;
  flex: 4;
  max-width: 400px;
  min-width: 400px;
}


.dashboardMatchesCardsContainer{
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 15;
  margin-left: 15px;
  max-width: 100vw;
}


.dashboardMatchesNavigation {
  background-color: white;
  border-bottom: 1px solid #eee;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}