.dashboardMatchesContainer{
  display:flex;
  flex-basis: 100%;
  flex-direction: row;
}

.dashboardMatchesCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 10;
  overflow-y: scroll;
}


.dashboardMatchesDetails {
  border-left:1px solid #eee;
  display: flex;
  flex: 4;
}