.dropdownContainer {
  flex: 1;
  display: flex;
  margin: 10px;
}

.errorDropdown {
  position: absolute;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 10;
  background-color: #e95f5c;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

/*.errorDropdown:hover {
  height: 50px;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid #db4c2c;
}*/