.navigation{
  display: flex;
  flex:1;
  min-height:80px;
  border-bottom:1px solid #e2e2e2;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.commonInterest {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 15px;
  border: 2px solid #DB4C2C;
  color: #DB4C2C;
  border-radius: 15px;
  margin-right: 5px;
}

.navigation a{
  text-decoration: none;
  color:#eee;
}

.navigation_item{
  flex-basis: 10%;
  cursor: pointer;
  color: #e2e2e2;
  text-align: center;
}

.navigation_item_active {
  composes: navigation_item;
  color:#DB4C2C !important;
  cursor: pointer;
}