.navigation{
  display: flex;
  flex:1;
  min-height: 60px;
  border-bottom:1px solid #e2e2e2;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.commonInterest {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 15px;
  border: 2px solid #DB4C2C;
  color: #DB4C2C;
  border-radius: 15px;
  margin-right: 5px;
}

.navigation a{
  text-decoration: none;
  color:#eee;
}

.navigation_item{
  flex-basis: 10%;
  cursor: pointer;
  color: #e2e2e2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  padding: 20px;
}

.navigation_item_active {
  composes: navigation_item;
  color:#DB4C2C !important;
  cursor: pointer;
  border-bottom: 3px solid #DB4C2C;
}

.navigation_item:hover {
  color: #DB4C2C;
  border-bottom: 3px solid #DB4C2C;
}


.newDot {
  height: 8px;
  max-width: 8px;
  border-radius: 8px;
  margin-left: 5px;
  background-color: #DB4C2C;
  flex: 1;
  align-self: flex-start;
}