.age {
  text-transform: uppercase;
  font-weight: 700;
  margin:0;
  font-size:12px;
  color: white;
}

.detail {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  color:white;
}

.distance {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 400;
  text-transform: lowercase;
}

.name {
  color: #FFF;
  margin:0;
  font-size: 24px;
  font-weight: 600;
}

.profileHeader {
  flex:1;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.placeholder {
  align-self: center;
  font-size: 12px;
  font-weight: 600;
}

.connectionName {
  font-size: 10px;
  flex: 1;
  text-align: center;
  margin-top: 5px;
}

.bio {
  color: black;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top:10px;
}

.commonInterest {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 15px;
  border: 2px solid #DB4C2C;
  color: #DB4C2C;
  border-radius: 15px;
  margin-right: 5px;
}

.school {
  display: block;
  font-size:10px;
  text-transform: uppercase;
  font-weight: 500;
}

.jobs {
  display: block;
  font-size: 12px;
}

.dropdownText {
  color: white;
  flex: 2;
}

.lastActive{
  composes: distance;
  float: right;
  text-transform: initial;
}

.profileName {
  font-size:40px;
}

.bioInputTextCount {
  float: right;
}

.matchName {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.matchRecentMessage {
  display: block;
  font-size: 14px;
  color: #aaa;
  max-width: 200px;
}

.matchActivity {
  text-align: right;
  color: #aaa;
  font-size: 12px;
}


.dashboardSettingsHeader {
  font-size: 16px;
  font-weight: 800;
  margin: 20px 10px;
  display: block;
}

.dismiss {
  font-size: 12px;
  color: white;
  align-self: flex-end;
  flex: 1;
  text-align: right;
}

.dashboardSettingsSubheader {
  composes: matchRecentMessage;
  max-width: none;
}

.switchText {
  composes: dashboardSettingsHeader;
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  margin-left: 10px;
}

.radioButtonLabel {
  composes: matchRecentMessage;
  margin: 0px 5px;
}

.dashboardSettingsHeaderPhoto {
  composes: dashboardSettingsHeader;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}