.button {
  padding: 5px 5px;
  border: 2px solid;
  color: white;
  font-size: 10px;
  margin:5px;
  }

.locationToggle {
  composes: button;
  position: absolute;
  z-index: 3;
  right: 0;
  border-color: #c4c4c4;
  color: #484848;
}

.locationToggle:focus {
  outline: 0;
}

.commonInterest {
  composes: button;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 15px;
  border: 2px solid #DB4C2C;
  color: #DB4C2C;
  border-radius: 15px;
  margin-right: 5px;
}

.buttonMatch {
  composes: button;
  height: 50px;
  width: 50px;
  font-weight: 600;
  border-radius: 50px;
}

.buttonMatch:focus {
  outline: 0;
}

.pass {
  composes: buttonMatch;
  color: #e95f5c;
  border-color: #e95f5c;
}

.pass:hover{
  background-color: #e95f5c;
  color: white;
  transition: 0.25s;
}

.superlike {
  composes: buttonMatch;
  color: #5cc3e8;
  border-color: #5cc3e8;
}


.superlike:hover{
  color: white;
  background-color: #5cc3e8;
  transition: 0.25s;
}

.like {
  composes: buttonMatch;
  color: #79ceb8;
  border-color: #79ceb8;
}

.like:hover{
  background-color: #79ceb8;
  color: white;
  transition: 0.25s;
}

.fetchMatches {
  font-size: 12px;
  max-height: 30px;
  padding: 5px 15px;
  border-radius: 3px;
  margin-left: 10px;
  color: white;
  font-weight: 500;
  background-color: #e95f5c;
  border: 1px solid #e95f5c;
}

.fetchMatchesHollow {
  composes: fetchMatches;
  background-color: transparent;
  color: #e95f5c;
}

.fetchMatches:hover {
  background-color: transparent;
  color: #e95f5c;
  transition: 0.25s;
}

.fetchMatchesHollow:hover {
  background-color: #e95f5c;
  color: white;
  transition: 0.25s;
}



.accountSettings {
  flex: 1;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  margin: 10px;
}