.matchBlock {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.matchAvatarContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100px;
}

.matchAvatar {
  height: 60px;
  max-width: 60px;
  border-radius: 60px;
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.matchDetails {
  flex: 2;
  padding: 20px;
}

.matchName {
  display: inline-block;
  font-weight: 400;
}

.matchRecentMessage {
  display: block;
  font-size: 14px;
  color: #aaa;
}