.matchBlock {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.matchAvatarContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100px;
}

.matchAvatar {
  height: 60px;
  max-width: 60px;
  border-radius: 60px;
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.matchDetails {
  flex: 2;
  display: inline-block;
  overflow:hidden;
  padding: 20px;
  text-overflow: ellipsis;
}

.flexName {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.newDot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  flex: 1;
  background-color: #5cc3e8;
  margin-left: 5px;
}