.detailViewContainer {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex:1;
}

.detailViewContainer_mainPicture {
  overflow: hidden;
}

.detailViewContainer_content {
  flex: 3;
  padding: 20px 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.commonConnectionsContainer {
  margin: 10px 0px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
}

.connectionItem {
  display: flex;
  width: 50px;
  height: 100%;
  margin:5px;
  align-items: center;
  flex-direction: column;
}

.connectionImage {
  flex: 1;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.commonInterestsWrapper {
  white-space: nowrap;
}

.commonInterestsContainer {
  margin: 10px 0px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
}

.commonInterestsLink {
  padding: 10px 5px;
  text-decoration: none;
}

.detailViewContainerButtons {
  justify-content: space-around;
  display: flex;
  width: 60%;
  margin: 80px auto 0px auto;
  flex: 1;
  align-self: flex-end;
  align-items: flex-end;
}

.detailViewContainerButtons button {
  flex: 1;
  max-width: 50px;
  max-height: 50px;
}

