.detailViewContainer {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex:1;
  overflow-y: scroll;
}

.detailViewContainer_mainPicture {
  min-height: 300px;
}

.detailViewContainer_content {
  flex: 6;
  margin: 20px 10px;
  overflow-y: scroll;
}


.detailView_placeholder {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commonConnectionsContainer {
  margin: 10px 0px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
}

.connectionItem {
  display: flex;
  width: 50px;
  height: 100%;
  margin:5px;
  align-items: center;
  flex-direction: column;
}

.connectionImage {
  flex: 1;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.commonInterestsContainer {
  margin: 10px 0px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
  min-height: 30px;
}