.matchCard{
  display: flex !important;
  border-radius: 5px;
  min-height: 350px;
  width: 30%;
  max-width: 300px;
  margin:10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.22);
  cursor: pointer;
}

.matchCardLike {
  border: 2px solid #FF6966;
}

@keyframes drop {
  0% {
    transform: scale(1);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.22);
  }
  50% {
    transform: scale(1.005);
    box-shadow: 0px 14px 20px 0px rgba(0,0,0,0.32);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.22);
  }
}

.matchCard:hover {
  animation: drop 1.5s infinite ease-in-out;
}

.matchCard:hover .matchCardContainer_hide{
    height: initial;
    visibility: visible;
    transition: 0.3s;
}

.matchCard:hover .matchCardButtons {
  visibility: visible;
  transition: 0.3s;
}

.matchCardContainer {
  display:flex;
  height:100%;
  width:100%;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.4);
  padding:15px;
  justify-content: flex-end;
  flex-direction: column;
}


.matchCardButtons {
  flex:1;
  flex-direction: column;
  align-content: flex-start;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.matchCardContainer_bio {
  flex-basis: 10%;
  color: #FFF;
  font-weight:300;
  font-size:12px;
  overflow: hidden;
  max-height: 160px;
  text-overflow: ellipsis;
}

.matchCardContainer_details {
  flex-basis: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom:10px;

}


.matchCardContainer_hide {
  height: 0%;
  visibility: hidden;
}

.matchCardContainer_wrapper {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}