.matchCard{
  display: flex;
  border-radius: 3px;
  height:400px;
  width: 30%;
  margin:10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.22);
}



.matchCard:hover .matchCardContainer_hide{
    height: initial;
    visibility: visible;
    transition: 0.3s;
}

.matchCardContainer {
  display:flex;
  height:100%;
  width:100%;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.4);
  padding:15px;
  justify-content: flex-end;
  flex-direction: column;
}


.matchCardButtons {
  flex:1;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
}

.matchCardContainer_name {
  flex-basis: 10%;
  color: #FFF;
  margin:0;
}

.matchCardContainer_bio {
  flex-basis: 10%;
  color: #FFF;
  font-weight:300;
  font-size:12px;
  overflow: hidden;
  max-height: 160px;
  text-overflow: ellipsis;
}

.matchCardContainer_details {
  flex-basis: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom:10px;
  
}

.matchCardContainer_age {
  text-transform: uppercase;
  font-weight: 700;
  margin:0;
  font-size:12px; 
  color: #FFE62A;
}

.matchCardContainer_distance {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 400;
}

.matchCardContainer_detail {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  color:white;
}

.matchCardContainer_hide {
  height: 0%;
  visibility: hidden;
}

.matchCardContainer_wrapper {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}